<div class="card">
  <div class="card-header">
    <button
      type="button"
      class="btn btn-primary ml-auto"
      data-toggle="modal"
      data-target="#add-modal"
    >
      <i class="fas fa-plus mr-1"></i> Tambah
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered table-hover table-striped"
        id="dataTable"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((data, index) => { %>
          <tr>
            <td><%= index+1; %></td>
            <td><%= data.name %></td>
            <td><%= data.username %></td>
            <td>
              <form
                action="/admin/user/<%= data.id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  type="button"
                  class="btn btn-warning btn-sm btn-circle btn-update"
                  data-id="<%= data.id %>"
                  data-name="<%= data.name %>"
                  data-username="<%= data.username %>"
                  ><i class="fas fa-edit"></i
                ></a>
                <button
                  type="submit"
                  class="btn btn-danger btn-sm btn-circle"
                  onclick="return confirm('Yakin');"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
